{% extends "base.html" %}
{% block title %}Edit Blog{% endblock %}
{% block content %}
<br/>
<h1 class="for_center">Edit a Blog</h1>

<form method="POST" enctype="multipart/form-data">
    <label for="title">Enter Blog Title</label>
    <input name="title" class="form-control form-control-lg" type="text" value="{{show_blog.stored_title}}"/>
    <br/>
    <label for="caption">Enter Caption</label>
    <textarea name="caption" id="caption" class="form-control" rows="3">{{show_blog.stored_caption}}</textarea>
    <br/>
    <label for="url">Add Blog</label>
    <input name="url" class="form-control form-control-lg" type="file" placeholder="Add Picture" accept="image/*">
    <br/>
    <div id="outer">
        <button type="submit" class = "btn btn-lg btn-primary">Post</button>
    </div>
</form>
<br/>
<div id="outer">
    <a href="/profile">
        <button type="button" class="btn btn-secondary btn-lg">Go Home
        </button>
    </a>
</div>

{% endblock %}